<div mat-dialog-content>
  <div class="full-width" *ngIf="data.action === 'display'">
    <table>
      <tr>
        <td>Title</td>
        <td>{{ data.rowData.title }}</td>
      </tr>
      <tr>
        <td>Division</td>
        <td>{{ data.rowData.division }}</td>
      </tr>
      <tr>
        <td>Project Owner</td>
        <td>{{ data.rowData.project_owner }}</td>
      </tr>
      <tr>
        <td>Budget</td>
        <td>{{ data.rowData.budget | currency }}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{ data.rowData.status }}</td>
      </tr>
      <tr>
        <td>Date Created</td>
        <td>{{ data.rowData.created | date: "shortDate" }}</td>
      </tr>
      <tr>
        <td>Date modified</td>
        <td>{{ data.rowData.modified | date: "shortDate" }}</td>
      </tr>
    </table>
    <mat-dialog-actions>
      <button type="button" mat-raised-button color="warn" mat-dialog-close>
        Close
      </button>
    </mat-dialog-actions>
  </div>

  <div *ngIf="data.action === 'modify'">
    <form
      [formGroup]="recordForm"
      novalidate
      (ngSubmit)="onSubmit()"
      class="form-group"
    >
      <div>
        <span><b>Title:</b></span>
        <span>{{ data.rowData.title }}</span>
        <hr />
        <span><b>Division :</b> </span>
        <span>{{ data.rowData.division }}</span>
        <hr />
      </div>
      <div>
        <mat-form-field>
          <mat-select
            placeholder="Project Owners"
            formControlName="project_owner"
          >
            <mat-option *ngFor="let po of data.poOptions" [value]="po">
              {{ po }}
            </mat-option>
          </mat-select>
          <mat-error> project_owner is <strong>required</strong> </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            matInput
            placeholder="budget"
            formControlName="budget"
            required
            type="number"
          />
          <mat-error> Budget is <strong>required</strong> </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select placeholder="Status" formControlName="status">
            <mat-option *ngFor="let stat of data.statusOptions" [value]="stat">
              {{ stat }}
            </mat-option>
          </mat-select>
          <mat-error>status is <strong>required</strong> </mat-error>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <mat-dialog-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!recordForm.valid"
          *ngIf="recordForm.enabled"
        >
          Submit
        </button>

        <button
          type="button"
          mat-raised-button
          color="warn"
          mat-dialog-close
          title="Cancel"
          aria-label="Cancel"
        >
          Cancel
        </button>
      </mat-dialog-actions>
    </form>
  </div>
</div>
