table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}

.mat-column-position {
  max-width: 100px;
}

.mat-column-name {
  max-width: 100px;
}
mat-slider {
  width: 300px;
}
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
.mat-row:hover .mat-cell {
  border-color: currentColor;
}
.demo-row-is-clicked {
  font-weight: bold;
}
